<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringTomcat:war exploded">
    <output-path>$PROJECT_DIR$/target/SpringTomcat-0.1.0</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringTomcat" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-web:1.1.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter:1.1.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot:1.1.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:4.0.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:4.0.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:4.0.7.RELEASE" />
          <element id="library" level="project" name="Maven: aopalliance:aopalliance:1.0" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:4.0.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:4.0.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-autoconfigure:1.1.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-logging:1.1.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.slf4j:jcl-over-slf4j:1.7.7" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.7" />
          <element id="library" level="project" name="Maven: org.slf4j:jul-to-slf4j:1.7.7" />
          <element id="library" level="project" name="Maven: org.slf4j:log4j-over-slf4j:1.7.7" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-classic:1.1.2" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-core:1.1.2" />
          <element id="library" level="project" name="Maven: org.yaml:snakeyaml:1.13" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-databind:2.3.4" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-annotations:2.3.4" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-core:2.3.4" />
          <element id="library" level="project" name="Maven: org.hibernate:hibernate-validator:5.0.3.Final" />
          <element id="library" level="project" name="Maven: javax.validation:validation-api:1.1.0.Final" />
          <element id="library" level="project" name="Maven: org.jboss.logging:jboss-logging:3.1.1.GA" />
          <element id="library" level="project" name="Maven: com.fasterxml:classmate:1.0.0" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:4.0.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:4.0.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-jetty:1.1.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty:jetty-webapp:8.1.15.v20140411" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty:jetty-xml:8.1.15.v20140411" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty:jetty-util:8.1.15.v20140411" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty:jetty-servlet:8.1.15.v20140411" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty:jetty-security:8.1.15.v20140411" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty:jetty-server:8.1.15.v20140411" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty.orbit:javax.servlet:3.0.0.v201112011016" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty:jetty-continuation:8.1.15.v20140411" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty:jetty-http:8.1.15.v20140411" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty:jetty-io:8.1.15.v20140411" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty:jetty-jsp:8.1.15.v20140411" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty.orbit:javax.servlet.jsp:2.2.0.v201112011158" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty.orbit:org.apache.jasper.glassfish:2.2.2.v201112011158" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty.orbit:javax.servlet.jsp.jstl:1.2.0.v201105211821" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty.orbit:org.apache.taglibs.standard.glassfish:1.2.0.v201112081803" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty.orbit:javax.el:2.2.0.v201108011116" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty.orbit:com.sun.el:2.2.0.v201108011116" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty.orbit:org.eclipse.jdt.core:3.7.1" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-actuator:1.1.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-actuator:1.1.8.RELEASE" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="SpringTomcat/web/Web" />
    </root>
  </artifact>
</component>