<component name="ArtifactManager">
  <artifact type="war" name="SpringTomcat:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringTomcat-0.1.0.war">
      <element id="artifact" artifact-name="SpringTomcat:war exploded" />
    </root>
  </artifact>
</component>